[defaults]
inventory           = inventory/hosts.ini
roles_path          = ~/.ansible/roles
collections_path    = ~/.ansible/collections
remote_user         = ubuntu
host_key_checking   = false
retry_files_enabled = false
vault_password_file = .vault_pass

[privilege_escalation]
become        = true
become_method = sudo
become_user   = root
