[defaults]
inventory           = inventory/hosts.ini
roles_path          = ~/.ansible/roles
collections_path    = ~/.ansible/collections
remote_user         = ubuntu
private_key_file    = /home/afreisinger/dev/aws/projects/janedoe/terraform/janedoe.pem
host_key_checking   = false
retry_files_enabled = false
vault_password_file = .vault_pass

[ssh_connection]
ssh_args     = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining   = true

[privilege_escalation]
become        = true
become_method = sudo
become_user   = root
